# cat /usr/lib/systemd/system/node_exporter.service
[Unit]
Description=node_exporter
After=network.target 

[Service]
ExecStart=/usr/local/node_exporter/node_exporter \
--web.listen-address=:9100 \
--collector.systemd \
--collector.systemd.unit-include="(sshd|docker|rsyslog).service" \
--collector.textfile.directory=/usr/local/node_exporter/textfile.collected

[Install]
WantedBy=multi-user.target
